<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <title>Error Page</title>
</head>
<body>
<header class="jumbotron">
    <h1>Date format Error occurs</h1>

</header>

<div class = "alert alert-danger">
    You entered the wrong date format
</div>
<div class = "alert alert-danger">
    Expected Date format is yyyy-MM-dd
</div>
<p><a class = "btn btn-primary" href="/">Go Back</a></p>
</body>
</html>